body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f4f0;
}

h1 {
    text-align: center;
    padding: 15px;
    margin-top: 0;
    background: darkgreen;
    color: white;
}

#map {
    height: 80vh;
    width: 100%;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: green;
}

/* МОДАЛ */
.modal {
    display: none; /* Скрываем окно по умолчанию */
    position: fixed;
    z-index: 1000; /* Поверх всех элементов, включая карту */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    /* Выравнивание сработает, когда скрипт включит display: flex */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    width: 70%;
    max-width: 500px; /* Ограничиваем максимальную ширину для красоты */
    max-height: 80%;
    overflow-y: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease;
}

/* Анимация */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* Делаем все маркеры на карте зелеными */
.leaflet-marker-icon {
    filter: hue-rotate(90deg) brightness(0.8) saturate(1.5);
}
/* Специальные правила для мобильных устройств */
@media (max-width: 600px) {
    h1 {
        font-size: 18px; /* Уменьшаем текст заголовка, чтобы он не был огромным */
        padding: 10px;
    }

    #map {
        height: 60vh; /* Уменьшаем карту по высоте, чтобы внизу было место для прокрутки страницы */
        width: 95%;   /* Делаем небольшие отступы по бокам */
        margin: 0 auto;
        border-radius: 10px;
    }

    .modal-content {
        width: 90%; /* Окно на мобилке будет почти на весь экран */
        padding: 15px;
        font-size: 14px;
    }
}
